<div class="link-info">
  <%= link.title %><br>
  <%= link.url %><br>
  <div id="<%= link.id %>">
    <%= link.read %><br>
  </div>
  <% if link.read == false %>
    <div id="<%= link.id %>" url="<%= link.url %>"class="mark-as-read">
      <%= link_to "Mark as Read"%>
    <% end%>
      <% if link.read == true %>
        <div id="<%= link.id %>" class="mark-as-unread">
      <%= link_to "Mark as Un-Read"%>
    <% end %><br>
    <%= link_to "Edit", edit_link_path(link) %>
  <br><br>
  </div>
</div>
