<div class="link-info">
  <%= link.title %><br>
  <%= link.url %><br>
  <div id="<%= link.id %>">
    <%= link.read %><br>
  </div>
  <% if link.read == false %>
    <input type="button" link_id="<%= link.id %>" value="Mark as Read" class="mark-as-read" id="<%= link.id %>">
    <% end%>
      <% if link.read == true %>
        <input type="button" link_id="<%= link.id %>" value="Mark as Unread" class="mark-as-unread" id="<%= link.id %>">
    <% end %><br>
    <%= link_to "Edit", edit_link_path(link) %>
  <br><br>
</div>
