<div class="link-info">
  <%= link.title %><br>
  <%= link.url %><br>
  <%= link.read %><br>

  <%= link_to "Edit", edit_link_path(link) %>
  <div id="<%= link.id %>" class="mark-as-read">
    <% if link.read == false %>
      <%= link_to "Mark as Read"%>
    <% else %>
      <%= link_to "Mark as Un-Read"%>
    <% end %>
  <br><br>
  </div>
</div>
